@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100%;
    background: rgb(245, 244, 244);
}

header {
    background: white;
    position: absolute;
    height: 9vh;
    width: 100%;
    z-index: 1;
}

.titulo {
    width: 100%;
    display: flex;
    justify-content: center;
    letter-spacing: 10px;
    position: absolute;
    top: 3.5vh;
    font-size: 25px;
    color: black;
    font-weight: lighter;
}

.voltar {
    width: 11%;
    font-size: 40px;
    color: black;
    display: flex;
    justify-content: baseline;
    align-items: center;
    position: relative;
    left: 3%;
    height: 9.9vh;
    text-decoration: none;
}

.box-geral {
    position: absolute;
    top: 10vh;
    background: rgb(245, 244, 244);
    height: auto;
}

.box-produtos {
    position: relative;
    top: -70px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.produtos {
    text-decoration: none;
    background: green;
    width: 46%;
    height: 160px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 60px;
    border-radius: 10px 10px 0 0;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.514);
}
.texto {
    background: whitesmoke;
    height: 50px;
    width: 100%;
    position: relative;
    top: calc(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 0 0 10px 10px;
    font-size: 12px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.514);
}
.preco {
    height: 30px;
    width: 70px;
    position: relative;
    background: orangered;
    top: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: white;
    border-radius: 10px;
}

/********* PRODUTOS ESMALTES *********/
.produto1 {
    background: url('imagens/produtos/esmaltes/esmalte-anitta.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto2 {
    background: url('imagens/produtos/esmaltes/esmalte-zem.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto3 {
    background: url('imagens/produtos/esmaltes/esmalte-impala.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto4 {
    background: url('imagens/produtos/esmaltes/esmalte-zem-led.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto5 {
    background: url('imagens/produtos/esmaltes/kit-francesinha.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto6 {
    background: url('imagens/produtos/esmaltes/esmalte-polish.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto7 {
    background: url('imagens/produtos/esmaltes/risque-diamond-gel.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto8 {
    background: url('imagens/produtos/esmaltes/risque-nude.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}


/********* PRODUTOS CABELO *********/
.produto-cab1 {
    background: url('imagens/produtos/cabelo/escova-giratoria.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-cab2 {
    background: url('imagens/produtos/cabelo/protetor-termico.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-cab3 {
    background: url('imagens/produtos/cabelo/secador-philco.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-cab4 {
    background: url('imagens/produtos/cabelo/kit-hidra-shampoo.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-cab5 {
    background: url('imagens/produtos/cabelo/faixa-cabeca.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-cab6 {
    background: url('imagens/produtos/cabelo/kit-creme-pentear.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-cab7 {
    background: url('imagens/produtos/cabelo/secador-britania.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-cab8 {
    background: url('imagens/produtos/cabelo/secador-de-parede.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-cab9 {
    background: url('imagens/produtos/cabelo/chapinha.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-cab10 {
    background: url('imagens/produtos/cabelo/escova-anion-hair.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-cab11 {
    background: url('imagens/produtos/cabelo/kit-new-hair-shampoo.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-cab12 {
    background: url('imagens/produtos/cabelo/kit-any-liss-shampoo.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}


/********* PRODUTOS MAQUIAGEM *********/
.produto-maq1 {
    background: url('imagens/produtos/maquiagem/kit-maquiagem.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-maq2 {
    background: url('imagens/produtos/maquiagem/kit-maquiagem2.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-maq3 {
    background: url('imagens/produtos/maquiagem/espelho.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-maq4 {
    background: url('imagens/produtos/maquiagem/blush.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-maq5 {
    background: url('imagens/produtos/maquiagem/batom.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-maq6 {
    background: url('imagens/produtos/maquiagem/delineador.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-maq7 {
    background: url('imagens/produtos/maquiagem/delineador2.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-maq8 {
    background: url('imagens/produtos/maquiagem/batom-liquido.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}


/********* PRODUTOS ROUPAS *********/
.produto-rou1 {
    background: url('imagens/produtos/roupas/vestido-mid.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-rou2 {
    background: url('imagens/produtos/roupas/saia-plissada.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-rou3 {
    background: url('imagens/produtos/roupas/calca-alfaiataria.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-rou4 {
    background: url('imagens/produtos/roupas/pijama.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-rou5 {
    background: url('imagens/produtos/roupas/calca-alfaiataria2.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-rou6 {
    background: url('imagens/produtos/roupas/short.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-rou7 {
    background: url('imagens/produtos/roupas/jaqueta.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-rou8 {
    background: url('imagens/produtos/roupas/lovito-regata.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}


/********* PRODUTOS ACESSÓRIOS *********/
.produto-ace1 {
    background: url('imagens/produtos/roupas/vestido-mid.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-ace2 {
    background: url('imagens/produtos/roupas/saia-plissada.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-ace3 {
    background: url('imagens/produtos/roupas/calca-alfaiataria.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-ace4 {
    background: url('imagens/produtos/roupas/pijama.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-ace5 {
    background: url('imagens/produtos/roupas/calca-alfaiataria2.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-ace6 {
    background: url('imagens/produtos/roupas/short.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-ace7 {
    background: url('imagens/produtos/roupas/jaqueta.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.produto-ace8 {
    background: url('imagens/produtos/roupas/lovito-regata.svg') no-repeat;
    background-position: center center;
    background-size: cover;
}