@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imprima&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
    height: 130vh;
}

#menu {
    height: 8vh;
    background-color: #f0f0f0;
    position: fixed;
    bottom: 0;
}
.icone-menu {
    width: 30px;
    height: 30px;
    margin: 25px;
}
.home {
    background: url('imagens/icones/home.svg') no-repeat;
    background-position: center center;
    background-size: contain;
}
.home.active {
    background: url('imagens/icones/home2.svg') no-repeat;
    background-position: center center;
    background-size: contain;
    transition: 0.5s;
    transform: rotateY(360deg);
}

.calendario {
    background: url('imagens/icones/calendario.svg') no-repeat;
    background-position: center center;
    background-size: contain;
    margin-right: 15%;
}
.calendario.active {
    background: url('imagens/icones/calendario2.svg') no-repeat;
    background-position: center center;
    background-size: contain;
    transition: 0.5s;
    transform: rotateY(360deg);
}

.msg {
    background: url('imagens/icones/msg.svg') no-repeat;
    background-position: center center;
    background-size: contain;
    margin-left: 15%;
    z-index: 2;
}
.msg.active {
    background: url('imagens/icones/msg2.svg') no-repeat;
    background-position: center center;
    background-size: contain;
    transition: 0.5s;
    transform: rotateY(360deg);
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    z-index: 900;
    background-color: #f0f0f0;
}
#cabeca {
  z-index: 1;
}
#cabeca.active {
  display: none;
}

#logo {
background: url('imagens/icones/logo.svg') no-repeat;
background-position: center center;
background-size: cover;
height: 100px;
width: 100px;
margin-left: 20px;
margin-top: 15px;
}

#aberto {
  background: url('imagens/icones/Aberto.svg') no-repeat;
  background-position: center center;
  background-size: cover;
  height: 60px;
  width: 60px;
  display: none;
  margin-right: 20px;
  margin-top: 5px;
  animation: mover 1.3s infinite ease-in-out;
}
#aberto.active {
    display: block;
}

#fechado {
  background: url('imagens/icones/fechado.svg') no-repeat;
  background-position: center center;
  background-size: cover;
  height: 60px;
  width: 60px;
  display: none;
  margin-right: 20px;
  margin-top: 5px;
  animation: mover 1.3s infinite ease-in-out;
}
#fechado.active {
    display: block;
}

@keyframes mover {
  0%, 100% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
}


#rolagem {
    width: 100%;
    height: 27vh;
    position: absolute;
    top: 8vh;
    display: flex;
    align-items: center;
    overflow-x: auto;
}
#rolagem::-webkit-scrollbar, #rolagem2::-webkit-scrollbar {
    display: none;
}
.img-rolagem {
    background: url('imagens/banners/R$\ 250.png') no-repeat;
    background-size: contain;
    background-position: right center;
    min-width: 80vw;
    min-height: 20vh;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.322);
}

.img-rolagem-1 {
  background: url('imagens/rolagem/escova-rotativa.svg') no-repeat;
    background-size: cover;
    background-position: center center;
}
.img-rolagem-2 {
  background: url('imagens/rolagem/manicure-pedicure.svg') no-repeat;
    background-size: cover;
    background-position: center center;
}

/************* SESSﾃグ 1 *************/
#sessao1 {
    width: 90vw;
    height: 22vh;
    position: absolute;
    left: 5%;
    margin-top: 28vh;
    background-color: #f0f0f0;
}
.carreira {
    position: relative;
    top: 10vh;
    display: flex;
}
#sessao1 h3 {
  position: relative;
  top: 8vh;
text-align: center;
color: #2e0218;
}
.icone {
    width: 22%;
    height: 70px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 13px;
    text-decoration: none;
    color: black;
    background: #FDCFDD url('imagens/icones/esmalte.svg') no-repeat;
    background-position: center center;
    background-size: contain;
}
.icone-p {
    position: relative;
    top: 75px;
    text-align: center;
    font-size: 0.6rem;
    font-weight: bold;
}

.icone1 {
  background: url('imagens/carreira/esmaltes.svg') no-repeat;
  background-position: center center;
  background-size: cover;
}
.icone-p1 {

}

.icone2 {
  background: #FDCFDD url('imagens/carreira/secador.svg') no-repeat;
  background-position: center center;
  background-size: cover;
}
.icone-p2 {

}

.icone3 {
  background: #FDCFDD url('imagens/carreira/maquiagem.svg') no-repeat;
  background-position: center center;
  background-size: cover;
}
.icone-p3 {

}

.icone4 {
  background: #FDCFDD url('imagens/carreira/roupas.svg') no-repeat;
  background-position: center center;
  background-size: cover;
}
.icone-p4 {

}

.icone5 {
  background: #FDCFDD url('imagens/carreira/acessorios.svg') no-repeat;
  background-position: center center;
  background-size: cover;
}
.icone6 {
  background: #FDCFDD url('imagens/carreira/saude.svg') no-repeat;
  background-position: center center;
  background-size: cover;
}
.icone7 {
  background: #FDCFDD url('imagens/carreira/calcados.svg') no-repeat;
  background-position: center center;
  background-size: cover;
}
.icone8 {
  background: #FDCFDD url('imagens/carreira/bolsas.svg') no-repeat;
  background-position: center center;
  background-size: cover;
}

/************* SESSﾃグ 2 *************/
#sessao2 {
    position: absolute;
    top: 4vh;
    margin-top: 65vh;
    width: 100%;
    background-color: #f0f0f0;
}

#titulo-s2 {
    position: relative;
    font-size: 25px;
    margin-top: 1vh;
    margin-left: 4vw;
}

#rolagem2 {
    width: 100%;
    height: 31vh;
    position: absolute;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.box-img-rolagem2 {
  background: white;
    height: 27vh;
    width: 47vw;
    margin-left: 3vw;
    margin-right: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.322);
}
.img-rolagem2 {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5S8v4YtR5XtagR5HDrXhi2rk4r3ihSUR_EZmXEgSjeL_97SAUjWQ1zzpNRs9FqJM8PZc&usqp=CAU') no-repeat;
    background-size: cover;
    background-position: right center;
    width: 47.5vw;
    height: 20vh;
    border-radius: 20px;
}
.rolagem2-texto {
    font-size: 1rem;
    color: black;
    width: 100%;
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    position: relative;
    font-family: "Imprima", sans-serif;
    font-weight: bold;
    font-style: normal;
}
.p-rol2 {
  color: black;
  margin: 0.6vh;
  text-align: center;
  font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.img-rolagem2-1 {
  background: url('imagens/rolagem2/blindagem.svg') no-repeat;
  background-position: center center;
  background-size: cover;
}
.img-rolagem2-2 {
  background: url('imagens/rolagem2/fibra-de-vidro.svg') no-repeat;
  background-position: center center;
  background-size: cover;
}
.img-rolagem2-3 {
  background: url('imagens/rolagem2/manutencao.svg') no-repeat;
  background-position: center center;
  background-size: cover;
}

.img-rolagem2-4 {
  background: url('imagens/rolagem2/banho-de-gel.svg') no-repeat;
  background-position: center center;
  background-size: cover;
}

.img-rolagem2-5 {
  background: url('imagens/rolagem2/manicure-e-pedicure.svg') no-repeat;
  background-position: center center;
  background-size: cover;
}


/************* SESSﾃグ 3 *************/
#sessao3 {
    background: white;
    position: fixed;
    top: 0;
    right: -100%;*/
    right: 0;
    width: 100%;
    height: 200vh;
    z-index: 2;
    transition: 0.3s;
    background-color: #f0f0f0;
}
#sessao3.active {
    transition: 0.3s;
    right: 0;
}

table {
    background: #ff3298;
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    text-align: center;
    padding: 8px;
    color: white;
    border-radius: 50px;
    font-size: 0.65em;
  }

  th {
    background: #ff3298;
  }

  td {
    cursor: pointer;
  }

  td:hover {
    background-color: #72053b;
  }

  .dia-atual {
    background: white;
    color: #f80e83;
  }
  #mes-ano {
    color: red;
  }



  .titulo-s3 {
    font-size: 1.4em;
    margin-top: 4vh;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Imprima", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .opcao {
    display: flex;
    justify-content: baseline;
    align-items: center;
  }
  .opcao p {
    margin: 7px;
    border: 1px solid black;
    padding: 2.5px 5px;
    border-radius: 5px;
    font-size: 13px;
  }

  .marcar-horario {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 6vh;
  }
  .marcar-horario h3 {
    display: flex;
    align-items: center;
  }
  #opcoes {
    width: 60%;
    height: 5vh;
    border-radius: 5px;
    color: #f80e83;
    border: 1px solid #f80e83;
    background-color: #f0f0f0;
  }
  .hr {
    font-size: 15px;
  }

  .escolher-servico {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 6vh;
  }
  .escolher-servico h3 {
    display: flex;
    align-items: center;
  }
  #op-servico {
    width: 60%;
    height: 5vh;
    border-radius: 5px;
    color: #f80e83;
    border: 1px solid #f80e83;
    background-color: #f0f0f0;
  }
  .serv {
    font-size: 15px;
  }

#box-nome {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nome {
  margin-top: 3vh;
  height: 5vh;
  width: 80%;
  border-radius: 5px;
  color: #f80e83;
  border: 1px solid #f80e83;
  background-color: #f0f0f0;
}
#nome::placeholder {
  font-size: 15px;
  color: #f80e83;
}

.conferir {
    background: #ff3298;
    width: 30%;
    padding: 10px 5%;
    border: none;
    color: white;
    border-radius: 5px;
    margin-left: 35%;
    margin-top: 5vh;
}

  /************* SESSﾃグ 4 *************/
  #sessao4 {
    background: #f80e83;
    width: 40%;
    height: 100vh;
    position: fixed;
    left: -100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: 0.3s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.568);
    background-color: #f0f0f0;
  }
  #sessao4.active {
    left: 0;
    transition: 0.3s;
  }
  .icone-social {
    width: 70px;
    height: 50px;
    background: white;
    border-radius: 50%;
    margin: 10px;
  }
  .social1 {
    background: url('imagens/icones/instagram.svg') no-repeat;
    background-position: center center;
    background-size: contain;
    position: absolute;
    top: 15vh;
  }
  .social2 {
    background: url('imagens/icones/wpp.svg') no-repeat;
    background-position: center center;
    background-size: contain;
    width: 100px;
    position: absolute;
    bottom: 50vh;
  }
  .social3 {
    background: url('imagens/icones/facebook.svg') no-repeat;
    background-position: center center;
    background-size: contain;
    position: absolute;
    bottom: 25vh;
  }

  footer {
    background: #FDCFDD;
    position: absolute;
    top: 110vh;
    width: 100%;
    height: 12vh;
    text-align: center;
}

footer p {
    color: rgb(73, 73, 73);
    margin: 14px;
    position: relative;
    top: 1vh;
}
.leonardo {
    text-align: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: rgb(73, 73, 73);
}

.nova-aba {
  background: url('imagens/icones/nova-aba.svg') no-repeat;
  background-position: center center;
  background-size: cover;
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: 3vh;
  right: 12%
}