@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    height: 130vh;
}

#menu {
    height: 8vh;
    background: white;
    position: fixed;
    bottom: 0;
}
.icone-menu {
    width: 30px;
    height: 30px;
    margin: 25px;
}
.home {
    background: url('imagens/icones/home.svg') no-repeat;
    background-position: center center;
    background-size: contain;
}
.home.active {
    background: url('imagens/icones/home2.svg') no-repeat;
    background-position: center center;
    background-size: contain;
    transition: 1s;
    transform: rotateY(360deg);
}

.calendario {
    background: url('imagens/icones/calendario.svg') no-repeat;
    background-position: center center;
    background-size: contain;
    margin-right: 15%;
}
.calendario.active {
    background: url('imagens/icones/calendario2.svg') no-repeat;
    background-position: center center;
    background-size: contain;
    transition: 1s;
    transform: rotateY(360deg);
}

.msg {
    background: url('imagens/icones/msg.svg') no-repeat;
    background-position: center center;
    background-size: contain;
    margin-left: 15%;
}
.msg.active {
    background: url('imagens/icones/msg2.svg') no-repeat;
    background-position: center center;
    background-size: contain;
    transition: 1s;
    transform: rotateY(360deg);
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    z-index: 900;
}

#cabeca {
    position: relative;
    z-index: 1;
}

#logo {
background: url('imagens/icones/logo.svg') no-repeat;
background-position: center center;
background-size: cover;
height: 90px;
width: 90px;
margin-left: 20px;
margin-top: 15px;
}

#aberto {
  display: none;
  font-family: "Redressed", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  color: black;
  margin-right: 20px;
  margin-top: 13px;
}
#aberto.active {
    display: block;
}

#fechado {
    display: none;
    font-family: "Redressed", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: black;
    margin-right: 20px;
    margin-top: 13px;
  }
  #fechado.active {
    display: block;
  }

@keyframes mover {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
}

#rolagem {
    width: 100%;
    height: 27vh;
    position: absolute;
    top: 7vh;
    right: 2%;
    display: flex;
    align-items: center;
    overflow-x: auto;
}
#rolagem::-webkit-scrollbar, #rolagem2::-webkit-scrollbar {
    display: none;
}
.img-rolagem {
    background: url('imagens/banners/R$\ 250.png') no-repeat;
    background-size: cover;
    background-position: right center;
    min-width: 80vw;
    min-height: 20vh;
    margin-left: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.322);
}

/************* SESSÃO 1 *************/
#sessao1 {
    width: 90vw;
    height: 22vh;
    position: absolute;
    left: 5%;
    margin-top: 26vh;
}
.carreira {
    position: relative;
    top: 15px;
    display: flex;
}
.icone {
    width: 15vw;
    height: 55px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 13px;
    background: #ff3298 url('imagens/icones/esmalte.svg') no-repeat;
    background-position: center center;
    background-size: contain;
}
.icone-p {
    position: relative;
    top: 60px;
    left: 2px;
    font-size: 0.6rem;
    font-weight: bold;
}

/************* SESSÃO 2 *************/
#sessao2 {
    position: absolute;
    top: 2vh;
    margin-top: 65vh;
    width: 100%;
}

#titulo-s2 {
    position: relative;
    font-size: 25px;
    margin-top: 1vh;
    margin-left: 4vw;
}

#rolagem2 {
    width: 100%;
    height: 31vh;
    position: absolute;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.box-img-rolagem2 {
    background: white;
    height: 27vh;
    margin-left: 5vw;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.322);
}
.img-rolagem2 {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5S8v4YtR5XtagR5HDrXhi2rk4r3ihSUR_EZmXEgSjeL_97SAUjWQ1zzpNRs9FqJM8PZc&usqp=CAU') no-repeat;
    background-size: cover;
    background-position: right center;
    min-width: 44.51vw;
    min-height: 20vh;
    border-radius: 20px;
}
.rolagem2-texto {
    font-size: 1rem;
    color: black;
    width: 24vh;
    margin-top: 1.5vh;
    display: flex;
    justify-content: center;
    position: absolute;
}


/************* SESSÃO 3 *************/
#sessao3 {
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 200vh;
    z-index: 2;
    transition: 0.3s;
}
#sessao3.active {
    transition: 0.3s;
    right: 0;
}

table {
    background: #ff3298;
    width: 100%;
    border-collapse: collapse;
    border-radius: 0 0 30px 30px;
  }

  th, td {
    text-align: center;
    padding: 8px;
    color: white;
    border-radius: 50px;
    font-size: 0.65em;
  }

  th {
    background: #ff3298;
  }

  td {
    cursor: pointer;
  }

  td:hover {
    background-color: #f80e83;
  }

  .dia-atual {
    background: white;
    color: #f80e83;
  }
  #mes-ano {
    color: red;
  }


  .titulo-s3 {
    font-size: 1em;
    margin: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .marcar-dia {
    margin-top: 3vh;
    margin-left: 5%;
  }
  .opcao {
    display: flex;
    justify-content: baseline;
    align-items: center;
  }
  .opcao p {
    margin: 7px;
    border: 1px solid black;
    padding: 2.5px 5px;
    border-radius: 5px;
    font-size: 13px;
  }

  .marcar-horario {
    margin-top: 3vh;
    margin-left: 10px;
  }
  .marcar-horario h5 {
    margin-top: 5px;
    color: gray;
  }

  .ter.active, .qua.active, .qui.active, .sex.active, .sab.active,
  
  .oit.active, .nov.active, .dez.active, .onz.active,
  
  .uma.active, .duas.active, .tres.active, .quatro.active, .cinco.active {
    background: #f80e83;
    color: white;
    border: 1px solid #f80e83;
    transition: 0.3s;
}

.conferir {
    background: #ff3298;
    width: 30%;
    padding: 10px 5%;
    border: none;
    color: white;
    border-radius: 10px;
    margin-left: 35%;
    margin-top: 2vh;
}

  /************* SESSÃO 4 *************/
  #sessao4 {
    background: #f80e83;
    width: 40%;
    height: 100vh;
    position: fixed;
    left: -100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: 0.3s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.568);
  }
  #sessao4.active {
    left: 0;
    transition: 0.3s;
  }
  .icone-social {
    width: 70px;
    height: 50px;
    background: white;
    border-radius: 50%;
    margin: 10px;
  }
  .social1 {
    background: url('imagens/icones/instagram.svg') no-repeat;
    background-position: center center;
    background-size: contain;
    position: absolute;
    top: 15vh;
  }
  .social2 {
    background: url('imagens/icones/wpp.svg') no-repeat;
    background-position: center center;
    background-size: contain;
    width: 100px;
    position: absolute;
    bottom: 50vh;
  }
  .social3 {
    background: url('imagens/icones/facebook.svg') no-repeat;
    background-position: center center;
    background-size: contain;
    position: absolute;
    bottom: 25vh;
  }

  footer {
    background: #ff3298;
    position: absolute;
    top: 110vh;
    width: 100%;
    height: 12vh;
    text-align: center;
}

footer p {
    color: white;
    margin: 14px;
}
.leonardo {
    text-align: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: white;
}